<!-- About Section -->
<section id="about" class="bg-light-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">History</h2>
        <h3 class="section-subheading text-muted">
          The goal of bigpicturelabs inc. is to make software systems sustainable as well as
          understandable <br />by presenting a big picture of complex software systems.
        </h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <ul class="timeline">
          <li>
            <div class="timeline-image">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>2018.01</h4>
                <h4 class="subheading"></h4>
              </div>
              <div class="timeline-body">
                  법인설립(ETRI 연구원 창업기업)
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>2018.05</h4>
              </div>
              <div class="timeline-body">
                  <ul>
                    <li>연구원특화BI사업 선정</li>
                    <li>창업성장사업 선정</li>
                  </ul>
              </div>
            </div>
          </li>
          <li>
            <div class="timeline-image">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>2018.07</h4>
              </div>
              <div class="timeline-body">
                벤처기업 인증
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>2019.02</h4>
              </div>
              <div class="timeline-body">
                기업부설연구소 승인
              </div>
            </div>
          </li>
          <li>
            <div class="timeline-image">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>2019.06</h4>
              </div>
              <div class="timeline-body">
                초기창업패키지 선정
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>2019.11</h4>
              </div>
              <div class="timeline-body">
                대전시 마을계획 온라인플랫폼 사업자 선정
              </div>
            </div>
          </li>
          <li>
            <div class="timeline-image">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>2019.12</h4>
              </div>
              <div class="timeline-body">
                블루포인트파트너스 시드투자 유치 (자본금 1억원)
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>2020.03</h4>
              </div>
              <div class="timeline-body">
                SH주택도시공사 시민주주단 서비스 사업자 선정
              </div>
            </div>
          </li>
          <li>
            <div class="timeline-image">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>2020.06</h4>
              </div>
              <div class="timeline-body">
                블록체인 의견수렴 SaaS 솔루션 초기제품 출시
              </div>
            </div>
          </li>
          <!-- <li class="timeline-inverted">
                        <div class="timeline-image">
                            <h4>Be Part
                                <br>Of Our
                                <br>Story!</h4>
                        </div>
                    </li> -->
        </ul>
      </div>
    </div>
  </div>
</section>
