<!-- About Section -->
<section id="about" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">About</h2>
                <h3 class="section-subheading text-muted">The goal of bigpicturelabs inc. is to make software systems sustainable as well as understandable
                    <br>by presenting a big picture of complex software systems.</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Jan. 11, 2018</h4>
                                <h4 class="subheading">Beginnings</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">We start our business with two members, Changsup Keum and Hwi Ahn.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <!-- <img class="img-circle img-responsive" src="img/about/2.jpg" alt=""> -->
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>May 2018</h4>
                                <h4 class="subheading">Technology Transfer from ETRI</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Technology Transfer from ETRI, 11 patents on edge service platform are acquired</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <!-- <img class="img-circle img-responsive" src="img/about/3.jpg" alt=""> -->
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Jun. 2018</h4>
                                <h4 class="subheading">Government-sponsored Blockchain R&D Project</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Government-sponsored Blockchain R&D Project Started</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <!-- <img class="img-circle img-responsive" src="img/about/2.jpg" alt=""> -->
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Jul. 2018</h4>
                                <h4 class="subheading">Blockchain service project with ETRI</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Blockchain service project with ETRI started </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <!-- <img class="img-circle img-responsive" src="img/about/3.jpg" alt=""> -->
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Jul. 2018</h4>
                                <h4 class="subheading">Sponsorship of "it-chain"</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Sponsorship of "it-chain", Blockchain open source project</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <h4>Be Part
                                <br>Of Our
                                <br>Story!</h4>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>