<!-- Clients Aside -->
    <aside class="clients bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-8">
                    <a href="#">
                        <img src="img/logos/it-chain.jpg" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-4 col-sm-8">
                    <a href="#">
                        <img src="img/logos/chaintob.png" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-4 col-sm-8">
                    <a href="#">
                        <img src="img/logos/theloop.png" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <!-- <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="img/logos/creative-market.jpg" class="img-responsive img-centered" alt="">
                    </a>
                </div> -->
            </div>
        </div>
    </aside>