<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <span class="copyright">Copyright &copy; {{ site.title }} {{ 'now' | date: "%Y" }}</span>
            </div>
            <div class="col-md-2">
                <ul class="list-inline social-buttons">
                    {% for network in site.social %}
                    <li>
                        <a href="{{ network.url }}">
                            <i class="fa fa-{{ network.title }}"></i>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-md-5">
                빅픽처랩(주) | 대표자: 금창섭 | 사업자등록번호: 362-88-00963
                <br> 고객센터: 042-710-6787
                <br> 대전광역시 유성구 유성대로1689번길 70 KT대덕2연구센타 3동 302호
            </div>
        </div>
    </div>
</footer>