<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Business</h2>
                    <h3 class="section-subheading text-muted">We design the architecture of blockchain services and implement core code.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-sitemap fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Blockchain Services</h4>
                    <p class="text-muted">We design the architecture of software systems, which are built upon the blockchain to provide a trust service.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-link fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Opensource Blockchain</h4>
                    <p class="text-muted">We participate in opensource projects, which are related to the blockchain such as blockchain engines, distributed file storages, inter-blockchain engines, and so forth.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-book fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Consulting &amp; Education</h4>
                    <p class="text-muted">We do the consulting and education about software architecture, blockchain, and other software engineering topics.</p>
                </div>
            </div>
        </div>
    </section>